<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-note-sticky" style="color: #FFD43B;"></i> Personal Book Note</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Start to writing...</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house-chimney-user" style="color: #FFD43B;"></i> Home</a>
          </li>
          <% if(!user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login"><i class="fa-solid fa-right-to-bracket" style="color: #FFD43B;"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup"><i class="fa-solid fa-pen" style="color: #FFD43B;"></i></i> Sign up</a>
          </li>
          <%} %>
          <% if(user) {%>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout"><i class="fa-solid fa-right-from-bracket" style="color: #FFD43B;"></i> Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fa-regular fa-id-card" style="color: #FFD43B;"></i> Profile & My posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile/post"><i class="fa-regular fa-paste" style="color: #FFD43B;"></i> New Post</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>
